{% extends "frontend/base.html" %}

{% block title %}Périmètres{% endblock %}

{% block content %}
		<nav aria-label="breadcrumb ">
			<ol class="breadcrumb p-0 mb-3" style="background-color: #EEE;">
				<li class="h5 breadcrumb-item active p-2 m-0">Tableau de bord</li>
			</ol>
		</nav>

		<div id="top-row" class="row">
			<div id="left-col" class="col col-12 col-xl-8">

				<div class="row">
					<div class="col col-12 col-md-8">
						<form id="search-form" action="{% url "dashboard" %}" method="GET">
							<div class="form-group mb-1">
								<label class="sr-only" for="search-form-input">Rechercher...</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<span class="oi oi-magnifying-glass"></span>
										</div>
									</div>
									<input type="text" class="form-control" name="filter" id="filter"
										placeholder="Rechercher..." {% if filter %}value="{{ filter }}"{% endif %}>
									<div class="input-group-append">
										<a type="button" class="btn btn-outline-secondary"
											aria-label="Close" href="/dashboard">
											<span class="oi oi-x"></span>
										</a>
									</div>
								</div>
							</div>
						</form>

						<div id="result-control" class="d-flex p-0 m-0">
						</div>
					</div>

                                        {% if management %}
					<div class="col col-12 col-md-4">
						<button type="button" class="btn btn-primary btn-block">
							<span class="oi oi-plus mr-2 ml-2"></span>&nbsp;Nouveau périmètre
						</button>
					</div>
                                        {% endif %}
				</div>

				<hr class="p-0 m-2" />

				<div id="cards" class="d-flex flex-wrap justify-content-center">
					{% for p in perimeters %}
					<div class="card card-bb mb-3 m-1 shadow card-bb"
						style="border-color: {{ p.color }};"
						onclick="window.location = '/perimetre/{{ p.id }}';">
						<div class="card-body card-body-bb">
							<div class="card-header-bb">
								<div class="h5">
									{{ p.name }}
								</div>
								<div>
									<a href="/dashboard?filter={{ p.perimeter }}" class="badge badge-primary">
										{{ p.perimeter }}
									</a>
									{% for tag in p.tags.all %}
									<a href="/dashboard?tag={{ tag.name }}" class="badge badge-pill badge-secondary">
										{{ tag.name }}
									</a>
									{% endfor %}
								</div>
							</div>

							<div class="card-text">
								<div class="row">
									<div class="col col-4 text-center">
										<span class="h1 font-weight-bold card-number card-number-maj">{{ p.major }}</span>
										<br /> <small>majeures</small>
									</div>

									<div class="col col-4 text-center">
										<span class="h1 font-weight-bold card-number card-number-mod">{{ p.moderate }}</span>
										<br /> <small>modérées</small>
									</div>

									<div class="col col-4 text-center">
										<span class="h1 font-weight-bold card-number card-number-min">{{ p.minor }}</span>
										<br /> <small>mineures</small>
									</div>
								</div>
								<!-- row -->
							</div>
							<!-- card-text -->
						</div>
						<!-- card-body -->
					</div>
					{% endfor %}
				</div>
				<!-- #cards -->
				<p>{{vuln}}</p>
			</div>
			<!-- #left-col -->

			<div id="right-col" class="col col-12 col-xl-4 border-left">
				<div id="charts" class="row p-2">
					<div id="categories-chart" class="col col-12">
						<canvas height="300" id="myChart"></canvas>
					</div>
					<!-- #categories-chart -->
					<div id="pie-chart" class="col col-12">
						<canvas id="myChart2" style="width: 100%"></canvas>
					</div>
					<!-- #pie-chart -->
				</div>
				<!-- #charts -->
			</div>
			<!-- #right-col -->
		</div>
		<!-- #top-row -->
	</div>
	<!-- #top-container -->
{% endblock %}
{% block javascript_block %}
	<script>
		var vul ="{{vuln|escapejs}}"
	</script>
	{{ datas | safe }}

	<script type="text/javascript">
		Chart.defaults.global.plugins.datalabels.display = function(context) {
			var value = context.dataset.data[context.dataIndex];
			return value === 0 ? false : true;
		};
		Chart.defaults.global.legend.onClick = function() {
		};
		var ctx = document.getElementById('myChart').getContext('2d');
		var pieCtx = document.getElementById('myChart2').getContext('2d');
		var myChart = null;
		var myPieChart = null;
		var drawCharts = function() {
			console.log("drawing...");
			if (myChart != null) {
				myChart.destroy();
			}
			myChart = new Chart(ctx, {
				type : 'horizontalBar',
				data : barData,
				options : {
					title : {
						display : true,
						fontSize: 20,
						text : 'Vulnérabilités découvertes'
					},
					tooltips : {
						mode : 'index',
						intersect : false
					},
					responsive : true,
					legend : {
						position : 'bottom'
					},
					scales : {
						xAxes : [ {
							stacked : true,
							ticks : {
								stepSize : 1
							}
						} ],
						yAxes : [ {
							stacked : true,
							ticks : {
								stepSize : 1
							}
						} ]
					}
				}
			});
			if (myPieChart != null) {
				myPieChart.destroy();
			}
			myPieChart = new Chart(pieCtx, {
				type : 'doughnut',
				data : pieData,
				options : {
					title : {
						display : false,
					},
					tooltips : {
						mode : 'index',
						intersect : false
					},
					responsive : true,
					legend : {
						display : false,
					},
				    plugins: {
				    	datalabels: {
				    		font: {
				    			size: 25
				    		}
				    	},
				        doughnutlabel: {
				          labels: [pieData.datasets[0].data.reduce(function (a, b) {return a + b;}, 0)],
				          font: {
		                      size: '40',
		                      family: 'Helvetica, sans-serif',
		                      weight: 'bold'
				          },
				          color: 'grey'
				        }
				   }
				}
			});
		};
		$(window).ready(drawCharts);
		$(window).resize(function() {
			console.log("resizing...");
			drawCharts();
		});

	</script>
{% endblock %}
