{% extends "frontend/base.html" %}

{% block content %}

<div class="container">
  {% for i in perimeters %}
    {% if forloop.counter0|divisibleby:3 %}
    <div class="card-deck" style="margin-bottom: 30px">
    {% endif %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Périmètre {{ i }}</h5>
        <p class="card-text">http://test.com</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">1 / 2 / 3</small>
      </div>
    </div>

    {% if forloop.counter|divisibleby:3 %}
    </div>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
