body {
  background-color: #f9f9f9;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: ">";
  padding-right: .1rem;
  color: inherit;
}

.navbar {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 2000px;
  }
}

.brand-logo {
  height: 30px;"
}